/* cài đặt màu mặc định */
:root{
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
    box-sizing: border-box;
} 
*{
    padding: 0;
    margin: 0;
}
 html body{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #000000;
    color: #999999;
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #ffffff;
}
h3{
    font-weight: lighter;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.Srem 0;
    font-weight: bold;
    color: #ffffff;
}
img{
    width: 100%;
}
.showcase::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(Image/backgrund.jpg) no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
    
}
/* chỉnh sửa độ sáng background đằng sau */
.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    box-shadow: 120px 100px 250px #000000, inset -120px 100px 250px #000000;
}
/* chỉnh sửa các thuộc tính cho background */
.showcase .showcase-head img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    justify-content:space-between;
    align-items:center;
    border-bottom: 8px rgb(116, 112, 112) solid ;
}
/* chọn vị trí cho phần top */
.showcase .showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
    padding-bottom: 350px;
    
}
/* chọn vị trí cho ảnh logo */
.showcase .showcase-top img{
    width: 170px;
    position: absolute;
    top: 5%;
    left: 55px;
}
/* chọn vị trí cho nút đăng nhập */
.showcase .showcase-top a{
    width: 140px;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-20%, -50%);
    box-sizing: border-box;
}
/* chỉnh sửa thuộc tính cho nút chọn ngôn ngữ */
.ui-select{
    position: absolute;
    top: 3.5%;
    right: 0;
    font-size: 17px;
    transform: translate(-180%, 35%);
    background: #00000066;
    padding: 6px 10px;
    color: var(--light-color);
    border-radius: 5px;
}
/* chọn vị trí cho tiêu đề nội dung */
.showcase .showcase-content{
    position: relative;
    margin: 10 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-top: 5rem;
    bottom: 25vh;
}
/* chinhr sửa thuộc tính cho nội dung 1 */
.showcase .showcase-content h1{
    font-weight: 700;
    font-size: 60.5px;
    margin:0 5px;
    max-width: 800px;
    line-height: 60px;
}
/* chinhr sửa thuộc tính cho nội dung 2 */
.showcase .showcase-content h3{
    color:white;
    font-size: 25px;
    margin: 16px 0;
    max-width: 640px;
}
/* chinhr sửa thuộc tính cho nội dung 3 */
.showcase .showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
/*.showcase-content{
    display:inline-grid;
    grid-template-columns: 50% 40%;
    align-items: center;
}
.showcase-content input{
    width: 550px;
    height: 3rem;
}
.showcase-content .btn-lg{
    height: 3.25rem;
    width: 200px;
    left: 20px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 32px ;
    border: none;
    border-radius: 2px;
    color: white;
}*/
/* chọn vị trí cho email */
.showcase .showcase-content input{
    position: absolute;
    bottom: -9vh;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    margin: auto;
    padding: 10px 36px ;
    margin-left: -150px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* chinhr sửa thuộc tính cho các nút */
.btn{
    display: inline-block;
    background: var(--primary-color);
    color:white;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0,0,0,0.45); 
}
.btn:hover{
   opacity: 0.9;
}
/* tạọ vùng biên cho nút đăng nhập */
.btn-rounded{
    border-radius: 5px;
}
/* chọn vị trí cho nút bắt đầu */
.showcase .showcase-content .btn-lg{
    position: absolute;
    bottom: -9vh;
    margin: auto;
    margin-left: 549px;
    padding: 1.1rem 0.2rem;
    font-size: 1.625rem;
    text-transform: none;
    height: 36px;
    width: 10rem;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}
/* Chỉnh sửa thuộc tính cho các tiêu đề */
.style-cards h1{
    font-size:3rem;
    padding: 1rem;
    padding-left: 0;
}
.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;  
}
/* chọn vị trí cho tiêu đề 1 + ảnh 1 */
.card-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    padding: 100px;
}
/* căn lề cho tiêu đề 1 */
.desc-0{
    padding-left: 100px;
}
/* chọn vị trí cho tiêu đề 2 + ảnh 2 + video 1 */
.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 2 */
.desc-1{
    padding-left:80px;
}
/*Chỉnh sửa thuộc tính cho video 1 */
.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
/* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
/* chọn vị trí cho tiêu đề 3 + ảnh 3 */
.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 3 */
.decs-2{
    padding-left: 100px;
}
/* chọn vị trí cho tiêu đề 4 + ảnh 4 */
.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 4 */
.decs-3{
    padding-left: 100px;
}
.btn-app{
    position: relative;
    color: white;
    font-size: 1.6rem;
    background: black;
    padding-left: 0;
    padding-top: 40px;
}
/* chọn vị trí cho tiêu đề 5 + ảnh 5 + video 2 */
.card-4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    border-bottom: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 5 */
.decs-4{
    padding-left: 80px;
    padding-right: 20px;
}
/*Chỉnh sửa thuộc tính cho video 1 */
.card-4 video{
    position: relative;  
    width: 70%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    margin: auto;
    transform: translate(5%, -25%);
}
/* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
.card-4 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

/* Duyen */

/* list asked question */
.list{
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}
.title{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}
.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0; 
    height: 0;
    opacity: 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 35px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}
.item:target .icon::after{
    transform: rotateY(90deg);
}

/* input */
/* .banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center ;
} */
.banner .box{
   margin: 4rem 0;
}

.banner .box .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.banner .box .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner .box .search input{
    outline: none;
    font-size: 16px;
    border: 1px solid #8c8c8c;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
    min-width: 400px;
    height: 50px;
    align-items: center;
}
.banner .search button{
    border: none;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    padding: 0 30px;
    line-height: 60px;
    min-width: 310px;
    cursor: pointer;

}
/* Footer */
.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}
footer p {
    margin-bottom: 1.5rem;
}
.footer, .footer a{
    color: #999999;
    font-size: 0.9rem;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer li{
    line-height: 2.4;
    
}
