*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #999999;

}
h1{
    color: #ffffff;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.faq-card {
    text-align: center;
}
.faq-card h1{
    padding-bottom: 40px;
    font-size: 3rem;
}
.faq-list{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}
.faq-list li{
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: rgb(69, 69, 69);
    color: white;
    text-align: left;
    width: 50%;
}
.faq-card p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}
.input{
    display: inline-gird;
    align-items: center;
    grid-template-columns: 50% 40%;
}
.input input{
    width: 600px;
    height: 3rem;
}
.input button{
    height: 3.25rem;
    width: 320px;
    left: 20px;
    text-align: center;
    justify-content: center;
    background-color: red;
    font-size: 1.5rem;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    color: white;
}
/* Footer */
.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}
footer p {
    margin-bottom: 1.5rem;
}
.footer, .footer a{
    color: #999999;
    font-size: 0.9rem;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer li{
    line-height: 2.4;
    
}
/* chỉnh sửa thuộc tính cho nút chọn ngôn ngữ */
.ui-select-wrapper .select-arrow {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 50px;
}
/* chọn vị trí cho nút chọn ngôn ngữ */
.ui-select{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 17px;
    transform: translate(-180%, 35%);
    background: #00000066;
    padding: 6px 10px;
    color: var(--light-color);

/* Reponesive */