/* cài đặt màu mặc định */
:root{
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
    box-sizing: border-box;
} 
*{
    padding: 0;
    margin: 0;
    
}

 html body{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #000000;
    color: #999999;
    
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #ffffff;
}
h3{
    font-weight: lighter;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.Srem 0;
    font-weight: bold;
    color: #ffffff;
}
img{
    width: 100%;
}
/* chỉnh sửa độ sáng background  */
.showcase::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}
.showcase::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    transform: translate(0%, 60%);
    /*border-bottom: 8px rgb(116, 112, 112) solid ;*/
}

/* chỉnh sửa các thuộc tính cho background */
.showcase .showcase-head img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    justify-content:space-between;
    align-items:center;
    object-fit: cover;
}
/* chọn vị trí cho phần top */
.showcase .showcase-top{
    /*position: relative;
    z-index: 2;
    height: 90px;
    padding-bottom: 350px;*/
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    
}
/* chọn vị trí cho ảnh logo */
.showcase .showcase-top img{
    width: 170px;
    z-index: 1;
    transform: translate(35%, 60%);
    /*position: absolute;
    top: 5%;
    left: 55px;*/
}
/* chọn vị trí cho nút đăng nhập */
.showcase .showcase-top a{
    color: var(--light-color);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 8px 18px;
    border-radius: 3px;
    z-index: 1;
    display: block;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0,0,0,0.45);
    transform: translate(-80%, 60%);
    /*width: 140px;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-20%, -50%);
    box-sizing: border-box;*/
}
.btn:hover{
    opacity: 0.9;
}

/* chỉnh sửa thuộc tính cho nút chọn ngôn ngữ */
.ui-select{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 17px;
    transform: translate(-140%, 70%);
    background: #00000066;
    padding: 6px 10px;
    color: var(--light-color);
    border-radius: 5px;
    z-index: 1;
}
/* chọn vị trí cho tiêu đề nội dung */
.showcase .showcase-content{
    position: absolute;
    top: 0;
    left: 0;
    margin: 300px 400px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* chinhr sửa thuộc tính cho nội dung 1 */
.showcase .showcase-content h1{
    font-weight: 700;
    font-size: 60.5px;
    margin:0 5px;
    max-width: 800px;
    line-height: 60px;
}
/* chinhr sửa thuộc tính cho nội dung 2 */
.showcase .showcase-content h3{
    color:white;
    font-size: 25px;
    margin: 16px 0;
    max-width: 640px;
}
/* chinhr sửa thuộc tính cho nội dung 3 */
.showcase .showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
/* .showcase-content{
    display:inline-grid;
    grid-template-columns: 50% 40%;
    align-items: center;
}
.showcase-content input{
    width: 550px;
    height: 3rem;
}
.showcase-content .btn-lg{
    height: 3.25rem;
    width: 200px;
    left: 20px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 32px ;
    border: none;
    border-radius: 2px;
    color: white;
} */
/* chọn vị trí cho email */
.showcase .showcase-content input{
    /*position: absolute;
    bottom: -9vh;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    margin: auto;
    padding: 10px 36px ;
    margin-left: -150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 4px 4px 0 0;
    min-width: 400px;
    height: 60px;
    margin-left: -150px;
}

/* chọn vị trí cho nút bắt đầu */
.showcase .showcase-content a{
    /*position: absolute;
    bottom: -9vh;
    margin: auto;
    margin-left: 549px;
    padding: 1.1rem 0.2rem;
    font-size: 1.625rem;
    text-transform: none;
    height: 36px;
    width: 10rem;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;*/
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-color);
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background: var(--primary-color);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    padding: 10px;
    font-size: 1.625rem;
    line-height: 50px;
    min-width: 100px;
    margin-left: 455px;
    height: 47px;
    transform: translate(-4%, -100%);
    align-items:center;
    justify-content:center;
}
/* Chỉnh sửa thuộc tính cho các tiêu đề */
.style-cards h1{
    font-size:3rem;
    padding: 1rem;
    padding-left: 0;
}
.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;  
}
/* chọn vị trí cho tiêu đề 1 + ảnh 1 */
.card-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 1 */
.desc-0{
    padding-left: 100px;
}
/* chọn vị trí cho tiêu đề 2 + ảnh 2 + video 1 */
.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 2 */
.desc-1{
    padding-left:80px;
}
/*Chỉnh sửa thuộc tính cho video 1 */
.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
/* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
/* chọn vị trí cho tiêu đề 3 + ảnh 3 */
.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 3 */
.decs-2{
    padding-left: 100px;
}
/* chọn vị trí cho tiêu đề 4 + ảnh 4 */
.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 4 */
.decs-3{
    padding-left: 100px;
}
.btn-app{
    position: relative;
    color: white;
    font-size: 1.6rem;
    background: black;
    padding-left: 0;
    padding-top: 40px;
}
/* chọn vị trí cho tiêu đề 5 + ảnh 5 + video 2 */
.card-4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    border-top: 8px rgb(69,69,69) solid;
    border-bottom: 8px rgb(69,69,69) solid;
    padding: 100px;
}
/* căn lề cho tiêu đề 5 */
.decs-4{
    padding-left: 80px;
    padding-right: 20px;
}
/*Chỉnh sửa thuộc tính cho video 1 */
.card-4 video{
    position: relative;  
    width: 70%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    margin: auto;
    transform: translate(5%, -25%);
}
/* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
.card-4 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

/* Duyen */

/* list asked question */
.list{
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}
.title{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}
.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0; 
    height: 0;
    opacity: 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 35px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}
.item:target .icon::after{
    transform: rotateY(90deg);
}

/* input */
/* .banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center ;
} */
.banner .box{
   margin: 4rem 0;
}

.banner .box .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.banner .box .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner .box .search input{
    outline: none;
    font-size: 16px;
    border: 1px solid #8c8c8c;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
    min-width: 400px;
    height: 50px;
    align-items: center;
}
.banner .search button{
    border: none;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    padding: 0 30px;
    line-height: 60px;
    min-width: 310px;
    cursor: pointer;

}
/* Footer */
.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}
footer p {
    margin-bottom: 1.5rem;
}
.footer, .footer a{
    color: #999999;
    font-size: 0.9rem;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer li{
    line-height: 2.4;
    
}

/* Responvive */
/*Quân*/
/* Moblie: min-width < 740px */
@media only screen and (max-width: 46.1875em){
    .showcase::before{
        width: 200%;
    }
    .showcase::after{
        width: 200%;
        transform: translate(0%, -73%);
    }
    /* chỉnh sửa các thuộc tính cho background */
    .showcase .showcase-head img{
        width: 100%;
        height: 550px;
    }
    .showcase .showcase-top{
        padding: 20px 50px;
    }
    .showcase .showcase-top img{
        width: 100px;
        transform: translate(-30%, 10%);
    }
    .showcase .showcase-top a{
        font-size: 0.8rem;
        transform: translate(-80%, 10%);
    }
    .ui-select{
        transform: translate(-175%, 70%);
        font-size: 14px;
    }
    .showcase .showcase-content{
        position: absolute;
        margin: 70px;
        transform: translate(-20%, 40%);
    }
    .showcase .showcase-content h1{
        font-size: 32px;
        line-height: 30px;
    }
    .showcase .showcase-content h3{
        font-size: 20px;
    }
    .showcase .showcase-content p{
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .showcase .showcase-content input{
        flex-direction: column;
        justify-content:center;
        height: 45px;
        margin-left: 25px;
        min-width:350px;
        font-size:13px;
    }
    .showcase .showcase-content a{
        display: inline-flex;
        flex-direction: row;
        text-transform: none;
        font-weight: 100;
        padding: 1px;
        font-size: 1rem;
        line-height: 50px;
        min-width: 100px;
        margin-left: 30px;
        height: 35px;
        transform: translate(-4%, 30%);  
    }
    .style-cards h1{
        padding: 0;
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
        font-size: 1.8rem;
    }
    .style-cards h3{
        display:flex;
        flex-direction:column-reverse; 
        justify-content:center;
        text-align:center;
        font-size:1.2rem;
    }
    /* chọn vị trí cho tiêu đề 1 + ảnh 1 */
    .card-0{
        padding: 50px;
        padding-top:50px;
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
    }
    /* căn lề cho tiêu đề 1 */
    .desc-0{
        padding-left: 10px;
        width: 120%;
    }
    .card-1{
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding-top: 50px;
    }
    /* căn lề cho tiêu đề 2 */
    .desc-1{
        padding-left:0;
        width: 150%;
    }
    /*Chỉnh sửa thuộc tính cho video 1 */
    .card-1 video{
        position: absolute;
        width: 80%;
        height: 100%;
        transform: translate(0%, -15%);
    }
    /* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
    .card-1 img{
        width:200%;
    }
    .card-2{
        position: relative;
        padding: 30px;
        padding-bottom:50px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
    /* căn lề cho tiêu đề 3 */
    .decs-2{
        width: 180%;
    }
    .card-2 img{
        width: 120%;
        padding-bottom:10px;
    }
    /* chọn vị trí cho tiêu đề 4 + ảnh 4 */
    .card-3{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding: 30px;
    }
    /* căn lề cho tiêu đề 4 */
    .decs-3{
        width: 180%;
    }
    .card-3 img{
        width: 120%;
        padding-bottom: 20px;
    }
    .btn-app{
        display: none;
        position: relative;
        color: white;
        font-size: 1.3rem;
        background: #00000066 ;
        padding-left: 0;
        padding-top: 5px;
    }
    /* chọn vị trí cho tiêu đề 5 + ảnh 5 + video 2 */
    .card-4{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        align-items: center;
        padding: 30px;
    }
    /* căn lề cho tiêu đề 5 */
    .decs-4{
        width:100%;
    }
    /*Chỉnh sửa thuộc tính cho video 1 */
    .card-4 video{
        position: absolute;  
        width: 65%;
        height: 100%;
        transform: translate(0%, -20%);
    }
    /* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
    .card-4 img{
        width: 120%;
    }
    .list{
        width: 100%;
    }
    .list h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .title{
        font-size: 1.2rem;
    }
    .banner .box{
       margin: 1rem 0;
    }
    .banner .box .heading p{
        font-size: 1rem;
        padding: 13px 0;
        padding-bottom: 17px;
    }
    .banner .box .search{
        flex-direction: column;
    }
    .banner .box .search input{
        min-width: 345px;
        height: 35px;
        align-items: center;
        font-size:15px;
    }
    .banner .search button{
        text-transform: lowercase;
        font-size: 1rem;
        padding: 0 10px;
        line-height: 40px;
        min-width: 10px;
        margin-top:20px;
        margin-bottom: 40px;
    }
    /* Footer */
    .footer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align:center;
    }
    footer p {
        margin-top: 1rem;
        text-align:left;
        align-items:center;
    }
    .footer, .footer a{
        font-size: 1rem;
    }
    .footer .footer-cols{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        align-items:center;
        text-align:left;
    }
}
/* Tablet: min-width >= 740px and max-width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .showcase::after{
        transform: translate(0%, -68%);
    }
    /* chỉnh sửa các thuộc tính cho background */
    .showcase .showcase-head img{
        width: 100%;
        height: 750px;
        position: relative;
        top: 0;
        left: 0;
    }
    .showcase .showcase-top{
        padding: 20px 50px;
    }
    .showcase .showcase-top img{
        width: 110px;
        transform: translate(-5%, 30%);
    }
    .showcase .showcase-top a{
        transform: translate(-100%, 30%);
    }
    .ui-select{
        transform: translate(-190%, 85%);
    }
    .showcase .showcase-content{
        position: absolute;
        margin: 170px;
        font-size:1.25rem;
        
    }
    .showcase .showcase-content h1{
        font-size: 50.5px;
        margin:0 5px;
    }
    .showcase .showcase-content h3{
        font-size: 15px;
        margin: 10px 0;

    }
    .showcase .showcase-content p{
        font-size: 13.2px;
        padding-top: 0.2rem;
        padding-bottom: 0.8rem;
    }
    .showcase .showcase-content input{
        flex-direction: column;
        justify-content:center;
        height: 55px;
        margin-left: -10px;
        min-width:450px;
    }
    
    .showcase .showcase-content a{
        display: inline-flex;
        flex-direction: row;
        text-transform: none;
        font-weight: 100;
        padding: 1px;
        font-size: 1.1rem;
        line-height: 50px;
        min-width: 100px;
        margin-left: 0;
        height: 35px;
        transform: translate(-4%, 30%);  
    }
    .style-cards h1{
        padding: 0;
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
    }
    .style-cards h3{
        display:flex;
        flex-direction:column-reverse; 
        justify-content:center;
        text-align:center;
    }
    /* chọn vị trí cho tiêu đề 1 + ảnh 1 */
    .card-0{
        padding: 50px;
        padding-top:50px;
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
    }
    /* căn lề cho tiêu đề 1 */
    .desc-0{
        padding-left: 10px;
    }
    .card-1{
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding-top: 50px;
    }
    /* căn lề cho tiêu đề 2 */
    .desc-1{
        padding-left:0;
    }
    /*Chỉnh sửa thuộc tính cho video 1 */
    .card-1 video{
        position: absolute;
        width: 55%;
        height: 100%;
        transform: translate(0%, -10%);
    }
    /* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
    .card-1 img{
        width:100%;
    }
    .card-2{
        position: relative;
        padding: 50px;
        padding-bottom:100px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
    /* căn lề cho tiêu đề 3 */
    .decs-2{
        width: 100%;
    }
    /* chọn vị trí cho tiêu đề 4 + ảnh 4 */
    .card-3{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding: 100px;
    }
    /* căn lề cho tiêu đề 4 */
    .decs-3{
        width: 100%;
    }
    .btn-app{
        position: relative;
        color: white;
        font-size: 1.3rem;
        background: #00000066 ;
        padding-left: 0;
        padding-top: 5px;
    }
    /* chọn vị trí cho tiêu đề 5 + ảnh 5 + video 2 */
    .card-4{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
        align-items: center;
    }
    /* căn lề cho tiêu đề 5 */
    .decs-4{
        width:100%;
    }
    /*Chỉnh sửa thuộc tính cho video 1 */
    .card-4 video{
        position: absolute;  
        width: 55%;
        height: 100%;
        transform: translate(0%, -10%);
    }
    /* Sắp xêp vị trí ảnh 2 sao cho trùng khớp với video 1 */
    .card-4 img{
        width: 120%;
    }
    .list{
        width: 80%;
    }
    .list h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .title{
        font-size: 1.6rem;
    }
    .banner .box{
       margin: 4rem 0;
    }
    .banner .box .heading p{
        font-size: 1.1rem;
        padding: 13px 0;
        padding-bottom: 17px;
    }
    .banner .box .search{
        flex-direction: column;
    }
    .banner .box .search input{
        min-width: 450px;
        height: 45px;
        align-items: center;
    }
    .banner .search button{
        text-transform: lowercase;
        font-size: 1rem;
        padding: 0 10px;
        line-height: 40px;
        min-width: 10px;
        margin-top:20px;
    }
    /* Footer */
    .footer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align:center;
    }
    footer p {
        margin-top: 1.5rem;
    }
    .footer, .footer a{
        font-size: 1.5rem;
    }
    .footer .footer-cols{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        align-items:center;
        text-align:center;
    }
}
